@import "node_modules/bulma/sass/utilities/_all";

$seekblue: #13b5ea;
$primary: $seekblue;
$link: $seekblue;

$lato: "Fjalla One", "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto","Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: $lato;

@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/layout/_all";

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Average');

/* SHOUTOUT BOXES */
.shoutout-box {
    position: absolute;
    top: 30%;
    right: 0px;
}
.shoutout {
    background: #14b5eb;
    color: #FFF;
    padding: 10px 10%;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: right;
}
.shoutout.subshout {
    background: #000;
    margin-top: 10px;
    font-size: 3em;
}
.shoutout-box.left-shout {
    left: 0px;
    right: inherit;
}